correlation/DesktopClient/Connected Services/FrontEndWcfService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FrontEndService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpBinding_IFrontEndService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/FrontEndWCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFrontEndService_GetAreaOfCircle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAreaOfCircle" />
  </wsdl:message>
  <wsdl:message name="IFrontEndService_GetAreaOfCircle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAreaOfCircleResponse" />
  </wsdl:message>
  <wsdl:message name="IFrontEndService_GetAreaOfCircle2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAreaOfCircle2" />
  </wsdl:message>
  <wsdl:message name="IFrontEndService_GetAreaOfCircle2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAreaOfCircle2Response" />
  </wsdl:message>
  <wsdl:message name="IFrontEndService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IFrontEndService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IFrontEndService_GetActivityRootId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActivityRootId" />
  </wsdl:message>
  <wsdl:message name="IFrontEndService_GetActivityRootId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActivityRootIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFrontEndService_GetActivityRootId2Hop_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActivityRootId2Hop" />
  </wsdl:message>
  <wsdl:message name="IFrontEndService_GetActivityRootId2Hop_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActivityRootId2HopResponse" />
  </wsdl:message>
  <wsdl:portType name="IFrontEndService">
    <wsdl:operation name="GetAreaOfCircle">
      <wsdl:input wsaw:Action="http://tempuri.org/IFrontEndService/GetAreaOfCircle" message="tns:IFrontEndService_GetAreaOfCircle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFrontEndService/GetAreaOfCircleResponse" message="tns:IFrontEndService_GetAreaOfCircle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAreaOfCircle2">
      <wsdl:input wsaw:Action="http://tempuri.org/IFrontEndService/GetAreaOfCircle2" message="tns:IFrontEndService_GetAreaOfCircle2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFrontEndService/GetAreaOfCircle2Response" message="tns:IFrontEndService_GetAreaOfCircle2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IFrontEndService/GetDataUsingDataContract" message="tns:IFrontEndService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFrontEndService/GetDataUsingDataContractResponse" message="tns:IFrontEndService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActivityRootId">
      <wsdl:input wsaw:Action="http://tempuri.org/IFrontEndService/GetActivityRootId" message="tns:IFrontEndService_GetActivityRootId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFrontEndService/GetActivityRootIdResponse" message="tns:IFrontEndService_GetActivityRootId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActivityRootId2Hop">
      <wsdl:input wsaw:Action="http://tempuri.org/IFrontEndService/GetActivityRootId2Hop" message="tns:IFrontEndService_GetActivityRootId2Hop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFrontEndService/GetActivityRootId2HopResponse" message="tns:IFrontEndService_GetActivityRootId2Hop_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetHttpBinding_IFrontEndService" type="tns:IFrontEndService">
    <wsp:PolicyReference URI="#NetHttpBinding_IFrontEndService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAreaOfCircle">
      <soap12:operation soapAction="http://tempuri.org/IFrontEndService/GetAreaOfCircle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaOfCircle2">
      <soap12:operation soapAction="http://tempuri.org/IFrontEndService/GetAreaOfCircle2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IFrontEndService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivityRootId">
      <soap12:operation soapAction="http://tempuri.org/IFrontEndService/GetActivityRootId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivityRootId2Hop">
      <soap12:operation soapAction="http://tempuri.org/IFrontEndService/GetActivityRootId2Hop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FrontEndService">
    <wsdl:port name="NetHttpBinding_IFrontEndService" binding="tns:NetHttpBinding_IFrontEndService">
      <soap12:address location="http://localhost/FrontEndWCFService/FrontEndService.svc/netHttp" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/FrontEndWCFService/FrontEndService.svc/netHttp</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>